.credix-card {
  margin: 30px;
  text-align: left;
}

.credix-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credix-card-header > .MuiCardHeader-action {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -webkit-flex: 0 0 auto;
}
